/**
 * WEBSITE: https://themefisher.com
 * TWITTER: https://twitter.com/themefisher
 * FACEBOOK: https://www.facebook.com/themefisher
 * GITHUB: https://github.com/themefisher/
 */

@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/PlayfairDisplay-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Roboto-Regular.ttf") format("ttf");
}

p {
  font-weight: 400;
  color: #4c4c4c;
  font-size: 18px;
  line-height: 1.8;
  font-family: "Roboto", sans-serif;
}
 .paragraph-lg {
  font-size: 22px;
}

ul {
  font-weight: 400;
  color: #4c4c4c;
  font-size: 16px;
  line-height: 1.8;
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h6 {
  color: #000;
  font-family: "Playfair Display", serif;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 80px;
}
@media (max-width: 991px) {
  h1, .h1 {
    font-size: 65px;
  }
}

h2, .h2 {
  font-size: 60px;
}
@media (max-width: 991px) {
  h2, .h2 {
    font-size: 50px;
  }
}

h3, .h3 {
  font-size: 40px;
}

h4, .h4 {
  font-size: 22px;
}

h6, .h6 {
  font-size: 14px;
}

/* Button style */

::-moz-selection {
  background: #542cb7;
  color: #fff;
}

::selection {
  background: #542cb7;
  color: #fff;
}

/* preloader */


ul {
  list-style-type: none;
  margin: 0px;
}

img {
  vertical-align: middle;
  border: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a {
  cursor: pointer;
  transition: 0.2s ease;
}
a:focus {
  outline: 0;
}

a.text-dark:hover {
  color: #41228e !important;
}

a:hover {
  color: #41228e;
}

.section {
  padding-top: 20px;
  padding-bottom: 80px;
}
.section-title {
  margin-bottom: 80px;
  font-family: "Playfair Display", serif;
}

/* overlay */

.bg-primary {
  background: #41228e !important;
}

.text-dark {
  color: #000 !important;
}

.text-light {
  color: #999999 !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.zindex-1 {
  z-index: 1;
}

.font-secondary {
  font-family: "Playfair Display", serif !important;
}

.font-tertiary {
  font-family: "Playfair Display", serif !important;
}

/* icon */
.icon {
  font-size: 45px;
}

/* /icon */
/* slick slider */

/* /slick slider */
/* form */

/* /form */
/* card */

/* /card */
.navigation {
  padding: 40px 130px;
  transition: 0.3s ease;
}
.navigation.nav-bg {
  background-color: #41228e;
  padding: 15px 100px;
}
@media (max-width: 991px) {
  .navigation.nav-bg {
    padding: 15px 20px;
  }
}
@media (max-width: 991px) {
  .navigation {
    padding: 20px;
    background: #41228e;
  }
}

.hero-area {
  padding: 300px 0 200px;
  position: relative;
}
@media (max-width: 767px) {
  .hero-area {
    padding: 130px 0 150px;
    overflow: hidden;
  }
}
.hero-area h1 {
  position: relative;
  z-index: 2;
}

.layer {
  position: absolute;
  z-index: 1;
}

.layer-bg {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* skills */

@-webkit-keyframes rotate {
  50% {
    transform: translateX(-50%) rotate(180deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}

@keyframes rotate {
  50% {
    transform: translateX(-50%) rotate(180deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}
/* /skills */
/* education */
.edu-bg-image {
  position: absolute;
  left: 0;
  top: -300px;
  z-index: -1;
}

/* /education */
/* service */

/* /service */
#schedule .author {
  font-size: 0.7rem;
}
#schedule .schedule-row {
  padding-left: 3rem;
  padding-right: 3rem;
}
@media (max-width: 575px) {
  #schedule .schedule-row {
    padding-left: 0;
    padding-right: 0;
  }
}

/* portfolio */

/* /portfolio */
/* testimonial */

.testimonial-bg-shapes .container {
  position: relative;
  z-index: 1;
}
.testimonial-bg-shapes .bg-map {
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
}
.testimonial-bg-shapes .bg-shape-1 {
  position: absolute;
  left: 100px;
  top: -50px;
}
.testimonial-bg-shapes .bg-shape-2 {
  position: absolute;
  right: 150px;
  top: 50px;
}
.testimonial-bg-shapes .bg-shape-3 {
  position: absolute;
  right: 50px;
  top: 200px;
}
.testimonial-bg-shapes .bg-shape-5 {
  position: absolute;
  right: 200px;
  bottom: -50px;
}

/* /testimonial */
/* footer */

/* /footer */
/*# sourceMappingURL=style.css.map */
