<!-- footer -->
<footer class="bg-dark footer-section" id="footer">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-light">Chi Siamo</h5>
          <p class="text-white font-secondary">Dal 2007 il Comitato Linux Day Torino è un gruppo informale costituito da associazioni ed individui che collaborano alla realizzazione del Linux Day nel capoluogo sabaudo.</p>
          <p class="text-white font-secondary">Ci coordiniamo su una <a href="https://lists.linux.it/listinfo/ldto" class="text-light">mailing list pubblica</a> e, oltre che a fine ottobre, ci troviamo un paio di volte all'anno per cena (almeno quando non c'è il COVID!).</p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Edizioni Passate</h5>
          <ul class="text-white list-unstyled font-secondary">
                <li>2019 - Toolbox Co-Working</li>
                <li>2018 - Sede Centrale PoliTO</li>
                <li>2017 - Dipartimento di Informatica UniTO</li>
                <li>2016 - Dipartimento di Informatica UniTO</li>
                <li>2015 - Dipartimento di Biotecnologie UniTO</li>
                <li>2014 - Corte Interrata PoliTO</li>
                <li>2013 - Corte Interrata PoliTO</li>
                <li>2012 - Cortile del Maglio</li>
                <li>2011 - Cascina Roccafranca</li>
                <li>2010 - Cascina Roccafranca</li>
                <li>2009 - Cascina Roccafranca</li>
                <li>2008 - Cascina Roccafranca</li>
                <li>2007 - Cascina Roccafranca</li>
            </ul>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Stay Tunes</h5>
          <a class="text-white display-4" href="https://www.facebook.com/LinuxDayTorino" title="Linux Day Torino su Facebook"><i class="ti-facebook"></i></a>
          <a class="text-white display-4" href="https://twitter.com/linuxdaytorino" title="Linux Day Torino su Twitter"><i class="ti-twitter"></i></a>
          <p class="text-white paragraph-lg font-secondary">info@ldto.it / +393487254214</p>
        </div>
      </div>
    </div>
  </div>
  <div class="border-top text-center border-dark py-5">
    <p class="mb-0 text-light">CC-4.0-BY 2022 - Designed by Themefisher</p>
  </div>
</footer>
<!-- /footer -->
