<a href="#" data-toggle="modal" data-target="#@@id">
	@@title
	<p class="author">@@author</p>
</a>

@@include('blocks/talk.htm', {
	id: '@@id',
	title: "@@title",
	author: '@@author',
	abstract: "@@abstract"
})
